<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>PTE</title>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Amaranth:regular,italic,bold|Puritan|PT+Serif">
		<style type="text/css" media="screen">
		</style>
		<?php wp_print_styles(); ?>
		<?php wp_print_scripts(); ?>
		<script type="text/javascript" charset="utf-8">
			ajaxurl        = '<?php echo admin_url('admin-ajax.php'); ?>';
			thumbnail_info = <?php print(json_encode($size_information)); ?>;
			jQuery(function(){ pte.editor(); });<?php
			if ( PTE_DEBUG ) {
				print( "debug_enabled = true;" );
			} ?>
		</script>
	</head>
	<body>
		<div id="stage1" class="stage">
			<h1 class="stage-header">Post Thumbnail Editor - Step 1</h1>
			<?php global $pte_errors;
			if ( isset( $pte_errors ) && count( $pte_errors ) > 0 ): ?>
			<script type="text/javascript" charset="utf-8">
				var pte_errors = <?php print( json_encode( $pte_errors ) ); ?>
				log(pte_errors);
			</script>
			<!-- <div id="error"><ul><?php 
					//print_r($pte_errors);
				foreach ( $pte_errors as $error_message ){
					print( "<li>${error_message}</li>\r\n" );
				}
				?></ul></div> -->
			<?php endif; ?>
			<div id="pte-image">
				<input type="hidden" id="pte-sizer" value="<?php echo $sizer; ?>" />
				<input type="hidden" id="pte-post-id" value="<?php echo $id; ?>" />
				<img id="pte-preview" src="<?php echo admin_url('admin-ajax.php'); ?>?action=imgedit-preview&amp;_ajax_nonce=<?php echo $nonce; ?>&amp;postid=<?php echo $id; ?>&amp;rand=<?php echo rand(1, 99999); ?>" />
				<div id="pte-buttons" class="buttons">
					<button disabled id="pte-submit">Create Thumbnails</button>
				</div>

			</div>
			<div id="pte-sizes-container">
				<div style="font-size:smaller;">
					Choose the images/thumbnails that you want to edit:<br>
				</div>
				<div id="pte-selectors">
					Select: <a class="all" href="all">All</a> | <a class="none" href="none">None</a>
				</div>
				<div id="pte-sizes">
				<table>
					<?php foreach ( $size_information as $size_label => $size_array ): ?>
					<tr>
						<td class="col1">
							<input class="pte-size" id="pte-size-<?php print $size_label; ?>" type="checkbox" name="pte-size[]" value="<?php print $size_label; ?>">
						</td>
						<td class="col2">
								<div class="pte-size-label"><?php print $size_label; ?> <?php
								print("(${size_array['width']}x${size_array['height']})");
								print("<br><span class='actual'>Current image: "
									. $size_array['current']['width'] . "x" 
									. $size_array['current']['height'] . "</span>");
								?></div>
								<img src="<?php print( $size_array['current']['url'] . "?" . mt_rand() ); ?>"/><br/>
						</td>
					</tr>
					<?php endforeach; ?>
				</table>
			</div>
			</div>

		</div>
		<div id="stage2" class="stage">
		</div>
		<script id="stage2template" type="text/x-jquery-tmpl">
			<a onclick="goBack(); return false;" href="#back" class="stage-navigation"
				alt="Return to Step 1" title="Return to Step 1">
				<img src="<?php print( PTE_PLUGINURL . "images/back.gif" ); ?>"/> Back</a>
			<h1 class="stage-header"> Post Thumbnail Editor - Step 2</h1>
			{{if $data['error']}}
			<div id="error">We noticed some potential issues:
				<ul>
					{{each $data['error']}}<li>${$value}</li>{{/each}}
				</ul>
			</div>
			{{/if}}
			<div id="pte-stage2-selectors">
				Select the images you want to keep: <a class="all" href="all">All</a> | <a class="none" href="none">None</a>
			</div>
			<input type="hidden" name="pte-nonce" value="${$data['pte-nonce']}" id="pte-nonce" />
			<input type="hidden" name="pte-delete-nonce" value="${$data['pte-delete-nonce']}" id="pte-delete-nonce" />
			<table>
			{{each $data.thumbnails}}
				<tr class="selected">
					<td><input checked class="pte-confirm" type="checkbox" name="pte_confirm[]" value="${$index}"/></td>
					<td class="col2">
						<div class="pte-size-label">${$index}</div>
						<img src="${$value.url}?${randomness()}"/>
						<input id="pte-${$index}-file" type="hidden" value="${$value.file}"/>
					</td>
				</tr>
			{{/each}}
			</table>
			<div id="stage2-buttons">
				<button id="pte-confirm">
					Okay, these look good...
				</button>&nbsp;
				<a href="#back" id="pte-cancel" 
						onclick="goBack(); return false;">
					I'd rather start over...
				</a>
			</a>
		</script>
		<div id="stage3" class="stage">
		</div>
		<script id="stage3template" type="text/x-jquery-tmpl">
			<h1 class="stage-header"> Post Thumbnail Editor</h1>
			{{if $data['success']}}
			<div id="success">
				<p>Images were created successfully.</p>
				<p>Click <a href="" onclick="window.location.reload();">here</a> to modify another thumbnail.</p>
			</div>
				{{if $data['error']}}
				<div id="error">We noticed some potential issues however:
					<ul>
						{{each $data['error']}}<li>${$value}</li>{{/each}}
					</ul>
				</div>
				{{/if}}
			{{/if}}
		</script>
		<div id="pte-loading"> 
			<div id="pte-loading-opaque"></div>
			<div id="pte-loading-spinner">
				<img src="<?php print PTE_PLUGINURL; ?>images/loading.gif" alt="Please wait" />
		</div></div>
		<div style='clear:both'></div>
	</body>
</html>
