---
donation-txt: >
    If you've found this plugin valuable in any way, consider donating to my tip
    jar. (This is so my wife doesn't murder me for staying on the computer too
    late. :D)
---
<!DOCTYPE HTML>
<html>
   <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   
      <title>{{ page.title }}</title>

      <!-- Bootstrap -->
      <link rel="stylesheet" href="{{ site.baseurl }}assets/docs.css" />
      <link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico" />
      <link href="{{ site.baseurl }}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <!--<link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">-->
      <link rel="stylesheet" href="{{ site.baseurl }}assets/pygments/monokai.css" />
   </head>
   <body id="top">
       <div class="navbar navbar-inverse navbar-fixed-top">
           <div class="navbar-inner">
               <div class="container">
                  <a class="brand" href="{{ site.baseurl }}">
                     <img src="{{ site.baseurl }}assets/images/pte-29x25.png"/>
                  </a>
                   <ul class="nav">
                      <li><a href="{{ site.baseurl }}editor">Editor</a></li>
                      <li><a href="{{ site.baseurl }}extras">Extras</a></li>
                   </ul>
               </div>
           </div>
       </div>
       <div class="container">
           {{ content }}
           <div class="row">
               <div class="span12">
                   <div class="hero-unit">
                       <div class="row">
                           <div class="span5">
                               <h2 id="toc_donations">Donations</h2>
                               {{ page.donation-txt | markdownify }}
                           </div>
                           <div class="span5 text-center">
                               <script>
var CoinWidget_Config = {
    address : '1yQ9khMu8grrbtfe3dNQ3qoonadVatJad',
    text: 'Donate Bitcoin',
    counter : 'amount',
    text_label : 'Post Thumbnail Editor'
};
                               </script>
                               <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                 <input type="hidden" name="cmd" value="_s-xclick">
                                 <input type="hidden" name="hosted_button_id" value="4APJ9R7E338WN">
                                 <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                 <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                               </form>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       {% if page.footer-js %}
       {% for js in page.footer-js %}
       <script src="{{js | replace_first:'ptesiteurl',site.baseurl}}"></script>
       {% endfor %}
       {% endif %}
   </body>

</html>
