---
layout: default
---

           <div class="jumbotron">
               <img src="assets/images/pte.png" class="pull-right"/>
               <h1>Post Thumbnail Editor</h1>
               <!--<p class="lead">Take control of wordpress post-thumbnails.</p>-->
               <a class="btn btn-large btn-success" href="http://downloads.wordpress.org/plugin/post-thumbnail-editor.zip">Download Stable Version</a>
           </div>
           <div class="row">
               <div class="span6">
                   <div class="text-center hero-unit">
                       <h2>Post Thumbnail Editor</h2>
                       <p>Control how wordpress crops your post-thumbnails.</p>
                       <p>
                           <a href="editor.html" class="btn btn-primary btn-large">Learn More</a>
                       </p>
                   </div>
               </div>
               <div class="span6">
                   <div class="text-center hero-unit">
                       <h2>Post Thumbnail Extras</h2>
                       <p>Easily configure post-thumbnail functionality for your posts and
                           plugins.</p>
                       <p>
                           <a href="extras.html" class="btn btn-primary btn-large">Learn More</a>
                       </p>
                   </div>
               </div>
           </div>
