---
layout: default
footer-js:
   - //ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js
   - ptesiteurlassets/bootstrap/js/bootstrap.min.js
   - ptesiteurlassets/js/page.js
---
           <div class="row">
               <div class="span3">
                   <ul id="pte-nav" class="nav nav-tabs nav-stacked">
                   </ul>
               </div>
               <div id="pte-content" class="span9">
                  <img src="{{ site.baseurl }}assets/images/pte-127x110.png" class="pull-right
                   content-header"/>
                   {{ content }}
               </div>
           </div>
